<h1>Hockey bets 2k18</h1>

<h2>Sign in</h2>

<form action="/signin" method="post">
  <fieldset>
    <input type="text" placeholder="username" id="username" name="username" />
    <input type="password" placeholder="password" id="password" name="password "/>
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" value="Sign in" />
  </fieldset>
</form>

<h2>Join</h2>

<form action="/register" method="post">
  <fieldset>
    <input type="text" placeholder="username" id="username" name="username"/>
    <input type="password" placeholder="password" id="password" name="password" />
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Join" />
  </fieldset>
</form>
