<h1>Invite to {{this.groupname}}</h1>

<form action="/creategroup/invite/send" method="post">
  <input type="email" name="email" id="email" placeholder="some@email.com" />
  <input type="submit" name="submit" id="submit" value="Send" />
</form>
