<h2>Sign in</h2>

<form action="" method="post">
  <fieldset>
    <input type="text" placeholder="username" id="username" name="username" required />
    <input type="password" placeholder="password" id="password" name="password" required />
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" value="Sign in" />
  </fieldset>
</form>

<h2>Sign up</h2>

<form action="" method="post">
  <fieldset>
    <input type="text" placeholder="username" id="username" name="username"/>
    <input type="password" placeholder="password" id="password" name="password" />
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Join" />
  </fieldset>
</form>
